/* reste rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common rules */
body {
    background-color: cadetblue;
}

.row {
    display: flex;
}

/* header */
header {
    
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */
#container {
    height: 500px;
    width: 60%;
    margin: auto;
    background-color: violet;
}

.post {
    background-color: white;
    margin-bottom: 2rem;
}

.avatar {
    width: 50px;
    height: 50px;
}
.avatar > img {
    width: 100%;
    border-radius: 50%;
}